///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


/**
 * Brand Colors
 */

$brand-pink:      	        rgb(255,200,204) !default;
$brand-violet:              rgb(215,207,232) !default;
$brand-blue:                rgb(202,241,255) !default;
$brand-green:               rgb(196,232,180) !default;
$brand-yellow:              rgb(255,252,193) !default;

$brand-pink-darken:          darken($brand-pink, 50) !default;  
$brand-violet-darken:        darken($brand-violet, 50) !default;
$brand-blue-darken:          darken($brand-blue, 50) !default;  
$brand-green-darken:         darken($brand-green, 50) !default; 
$brand-yellow-darken:        darken($brand-yellow, 50) !default;

$brand-pink-lighten:        lighten($brand-pink, 50) !default;  
$brand-violet-lighten:      lighten($brand-violet, 50) !default;
$brand-blue-lighten:        lighten($brand-blue, 50) !default;  
$brand-green-lighten:       lighten($brand-green, 50) !default; 
$brand-yellow-lighten:      lighten($brand-yellow, 50) !default;

/**
 * Social Colors
 */

$facebook-color:     #3b5998;
$twitter-color:      #55acee;
$google-color:       #dd4b39;
$pinterest-color:    #c8232c;
$linkedin-color:     #0e76a8;
$instagram-color:    #3f729b;
