///*------------------------------------*\
//    #LINKS
//\*------------------------------------*/


$link-color:                    $brand-blue;
$link-color-hover:              $brand-green;

$link-text-decoration:          underline;
$link-text-decoration-hover:    underline;
$link-text-decoration-active:   none;
